/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

/* supprimer le soulignement du texte <a> */
li a {
	text-decoration: none;
	color: black;
  }
.no-underline{
	text-decoration: none;
} 

body {
	line-height: 1;
	background: #FFFEF8;
	font-family: 'Work Sans';
	font-size: 14px;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.main-container {
	max-width: 1140px;
	flex: 1;
	width: 90%;
	margin: auto;
	min-height: 100%;
	padding-bottom: 60px;
	
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}
h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li:hover {
	color: #B1663C;
}

li a:hover {
	color: #B1663C;
}

/*ajouter style <div> pour filtre par categories */
#boutonFiltre {
	text-align: center;
	margin: 20px 0;
}

#boutonFiltre button {
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #1D6154;
	background-color: #FFFFFF;
	border-radius: 60px;
	position: relative;
	color: #1D6154;	
}
/* effet survol */
#boutonFiltre button:hover {
	background-color: #1D6154;
	color: #FFFFFF;	
}
.souligner{
	text-decoration: underline;
}
/* page pour modal- bouton modifier */
.modifierPhoto{
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	margin-left: 400px;
	margin-bottom: 30px;
	gap: 30px;
}
.btn-with-icon {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	background-color: Transparent;
	border: 1px solid Transparent;
	border-radius: 5px;
	cursor: pointer;
	padding-bottom: 30px;
}
.btn-with-icon svg {
	margin-right: 8px;
}

*{
	box-sizing: border-box;
}
   /* Style pour la modale */
.modal {
	display: none;
    position: fixed;
	transform: translate(-0%, -40%);
	top: 40%;
    left: 30%;
	width: 600px;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 70px;
}
.modal-overlay {
	display: none;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
}
  .modal .ajoute-btn {
	display: flex;
	margin-top: 10px;
	padding: 8px 60px;
	width: 60%;
		
	background: #1D6154;
	color: white;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	align-items: center;
	margin-left: 100px;
  }
  .xmark{
	display: flex;
	align-items: flex-end;
  }
  .modal img{
	display: block;
	margin: auto;
	width: 35%;
  }
  .modal h2{
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #000000;
	margin-top: 40px;
	padding-bottom: 30px;
  }
 .bar{
	border: 1px solid #B3B3B3;
	margin-top: 70px;
 }
/* Bouton x & bouton <- */
.close-btn  {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 76px;
	height: 76px;
	background: transparent;
	border: none;
	font-size: 24px;
	color: black;
	cursor: pointer;
  }
  .back-btn {	
	position: absolute;
	top: 5px;
	left: 5px;
  	width: 76px;
  	height: 76px;
  	background: transparent;
  	border: none;
  	font-size: 24px;
  	color: black;
  	cursor: pointer;
  }

  /* Style de la galerie pour modal */
  .modifierGallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 13px;
	margin-top: 20px;
  }

  .gallery-item {
	position: relative;
	Width:100%;	  
  }
.gallery-item img {
	width: 100%;
	height: 100%;
	border-radius: 0px;
	object-fit: cover;
	}
.trash-btn {
	position: absolute;
	top: 8px;
	right: 5px;
	background: black;
	color: rgb(252, 252, 251);
	border: none;
	font-size: 11px;
	cursor: pointer;
	border-radius: 2px;
  }

  /* modal 2 : Bouton ajouter une photo */
#modal2 form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
#modal2 input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.photo-upload{
	border: none;
	background-color: #E8F1F6;
	flex-direction: column;
	align-items: center;
	display: flex;
	object-fit: cover;
  }
.z1{
	color: #B9C5CC;
	margin-top: 20px;
 }
.z3{
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 11.73px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #444444;
	margin-bottom: 20px;
  }
.add-photo {
	display: block;
	margin: 10px auto;
	padding: 10px 20px;
	background: #CBD6DC;
    color: #306685;
	border: none;
	border-radius: 60px;
	cursor: pointer;
  }
 
.photo-upload-info{
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap:10px;
  }
#categoryId-input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
  }
.valide{
	width: 50%;
	margin: 20px auto;
	padding: 10px 20px;
	background: #A7A7A7;
	color: white;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	}
.valide:hover {
	background-color: #1D6154;
	color: #FFFFFF;
  }
 /* ajouter jusqu'a ici ^*/ 

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	
}
.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact>* {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* ajouter style login */
#login {
	width: 50%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}
button[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 200px;
	height: 45px;
	text-align: center;
	border-radius: 60px;
}

footer {
	background-color: #FFFFFF;
	height: 60px;
	bottom: 0;
	width: 100%;
	margin-top: 60px;
	
}
.display{
	position: absolute;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.lieu{
	padding-top: 20px;
}
.edit-icon{
	background-color: #000000;
	width: 100%;
	cursor: pointer;
}